@import "app/scss/reset";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap');

@font-face {
  font-family: 'League Spartan Bold';
  font-style: normal;
  font-weight: normal;
  src: local('League Spartan Bold'), url('/assets/LeagueSpartan-Bold.woff') format('woff');
}

$font_one: 'League Spartan Bold';
$font_two: 'Raleway';
$blue: #0698ff;

body {
  margin: 0;
  padding: 3%;
  height: 89vh;

  * {
    box-sizing: border-box;
    font-family: $font_two, sans-serif;
  }
}

nav {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;

  .kura {
    cursor: pointer;
  }

  ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3rem;
    text-align: right;
    color: $blue;
    cursor: pointer;

    li {
      font-family: $font_one;
    }
  }

}

button.primary {
  margin-left: 1rem;
  height: 2.4rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background: $blue;
  color: white;
  font-family: $font_one;
  cursor: pointer;
  transition: background .5s, box-shadow .5s;
  padding: 3px 2rem 0 2rem;
  font-size: 1rem;
  box-shadow: none;

  &:hover {
    background: darken($blue, 10);
    box-shadow: 0px 7px 7px 2px #01385f40;
  }
}

section.main {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1.5fr;
  height: 91%;
}

h1, h3 {
  font-family: $font_one, serif;
  font-weight: normal;
}

h1, h3, p {
  color: $blue;
}

p {
  line-height: 1.7;
}

h1 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
}


.search_icon_input {
  position: relative;
  margin-top: 2rem;

  i.fas.fa-search {
    position: absolute;
    bottom: 30%;
    left: 3%;
    color: $blue;
  }

  input.home-search {
    font-size: 1rem;
    width: 70%;
    height: 2.4rem;
    border-radius: 5px;
    outline: none;
    padding-left: 9%;
    border: 2px solid $blue;
    //font-weight: bold;
    //box-shadow: 0px 7px 7px 2px #01385f40;
  }
}


.wave_blocks {
  width: 400px;
  display: grid;
  grid-gap: 2rem;
  margin-top: 4rem;
  grid-template-columns: 1fr 1fr;

  .block {
    position: relative;
    cursor: pointer;

    img {
      box-shadow: none;
      border-radius: 18px;
      transition: box-shadow .4s;

      &:hover {
        box-shadow: 0px 7px 7px 2px #01385f40;
      }
    }


    p {
      font-family: $font_one;
      pointer-events: none;
      position: absolute;
      left: 1rem;
      top: 1rem;
      color: white;
    }
  }
}

section.right-col.col {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow .4s;

  &:hover {
    box-shadow: 0px 9px 7px 0px #00000040;
  }

  agm-map.sebm-google-map-container {
    height: 100%;
  }
}
