<nav>
  <h3 class="kura">Kura.</h3>
  <ul>
    <li>Contact</li>
    <li>About</li>
  </ul>
</nav>
<section class="main">
  <section class="left-col col">
    <h1>{{title}}</h1>
    <p [class.hide]="searchActive" class="intro">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Aperiam
      corporis expedita
      minima omnis perspiciatis
      quasi quibusdam quis reiciendis repellendus ut! Consequatur illo inventore ipsum iure nobis porro quasi reiciendis
      vitae.</p>


    <search [inputModel]="search" (searchFunction)="submitSearch($event)"></search>

    <!-- <div class="wave_blocks" [class.hide]="searchActive">
      <div class="block blue">
        <p>Hospitals</p>
        <img src="../assets/blue.svg" alt="">
      </div>
      <div class="block purple">
        <p>Services</p>
        <img src="../assets/purple.svg" alt="">
      </div>
    </div> -->

    <hospital-results *ngIf="searchActive" [results]="hospitals"></hospital-results>

  </section>
  <section class="right-col col">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

<!--      <agm-marker *ngFor="let hosp of hospitals" [latitude]="" [longitude]="lng"></agm-marker>-->
    </agm-map>
  </section>
</section>
